@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  margin: 0 auto !important;
  text-align: center;
  padding: 0 !important;
  max-width: 100%;
  height: 100vh;
}
/* 
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
} */

input[type="checkbox"].online-prijava-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 30px !important;
}
.slick-prev:before {
  content: url("/left.png") !important;
}

.slick-next:before {
  content: url("/right.png") !important;
}

#steps {
  animation-timeline: view();
}

#date {
  background-color: #ffffff !important;
  box-shadow: none !important;
}
